{% extends "flask_user_layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <title>Document</title>

</head>
<body><br>
        <center>
                
                
            <h2>{%trans%} <span style="color:cadetblue; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">BAŞKAYA AIRLINES İYİ YOLCULUKLAR DİLER</span> {%endtrans%}</h2>
            <br><hr><br><p style="width: 400px; background-color: #5bc0de; border-radius: 5px; padding: 15px; color: white; font-size: larger;"><b> Sistem Mesajı:</b> {{ kayitlar }}</p><br><br>
            
            <a href="/"><button class="btn btn-success">Anasayfaya Dönmek İçin Tıklayınız</button></a>
        </center>
<br></body>
</html>                  
{% endblock %}